*.swp
*.pyc
venv*
.DS_Store
client/dist
node_modules
staticfiles
celerybeat-schedule
package-lock.json
.*~
.*
!.eslintrc.json
!.eslintignore
yarn.lock
yarn-error.log
google_client.json
**reset_*
*.o
*.dylib
*.so
